<html lang='en'>
  
<head>
  <link rel="icon" type="image/png" href="./icon.png"/>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>AI Coffee Identifier ☕</div>
    <p>
      Use images of <strong>your coffee</strong> and our mechanical cockroach will identify what kind of coffee yours belong!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>

      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No coffee chosen</label>
      </div>

      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>

      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>What is it?</button>
      </div>

      <div class='result-label'>
        <label id='result-label'></label>
      </div>

    <br>
    </br> 

      Brewed by <a href="https://github.com/salmanhiro">salmanhiro</a>

    </div>
    <br>
  </br>

    <a href="https://www.buymeacoffee.com/TtzlObWgv" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" alt="Support our coffee" style="height: 40px !important;width: 150px !important;" ></a>
  </div>
</div>
</body>
</html>
