body {
    background-color: rgb(223, 208, 208);
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 2em;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 4em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 2em;
    padding: 10px;
    font-size: 15px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #262626;
    font-size: 13px;
    color: #262626;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #262626;
    border-radius: 2px;
    background-color: #262626;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
